/* Your app styles here */

/* Left Panel right border when it is visible by breakpoint */
.panel-left.panel-visible-by-breakpoint:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-visible-by-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
  display: none;
}

.inlined {
  display: inline-block;
}

.bottom-border {
   border-bottom-width:5px;
   border-bottom-style:solid;
   border-bottom-color:#0c82df;
   margin-top:3vh;
   margin-bottom:3vh;
   margin-left:-10px;
   margin-right:-10px;
}

/* Navbar Things */
.navbar-inner {
  margin-left:3vh
}

.stacked {
  position: absolute;
  top: 0;
  left: 0;
}

/* Side Bar and page transitions*/

.sidebar {
  margin:0;
  height:100%;
  width:0;
  position:fixed;
  overflow:hidden;
  top: 0;
  left: -200px;
  transition: .5s;
  background-color: #FFFF;
  box-shadow: 0px 0px 0px 0px grey;
}

#mainpage {
  transition: margin-left .5s;
  margin:auto;
}


a {
  z-index:10000000000;
}

/* Page routing */

.main-pgview {
  display:none;
  margin-left: 10px;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.fadeSlow-enter-active {
  transition: opacity 1.2s;
}

 .fadeSlow-leave-active{
  transition: opacity 0.3s;
}

.fadeSlow-enter, .fadeSlow-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}








/*
  Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/
.ios .panel-left:not(.panel-visible-by-breakpoint).panel-active ~ .view-main:before,
.ios .panel-left:not(.panel-visible-by-breakpoint).panel-closing ~ .view-main:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}
